/* RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: center;
    max-width: 375px;
    margin: 0 auto;
  }
  
ol, ul {
    list-style: none;
}
/* header styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #c6c6c6 ;
}

#logo {
    width: 127px;
}

#user, .avatar-img {
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-img {
    width: 375px;
}

.avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.avatar-name {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}

.avatar-location {
    font-size: 12px;
    color: #000000;
}

.bottom-info {
    display: flex;
    flex-direction: column;
}

.comment-container > p {
    text-align: left;
    margin-top: 10px;
}

.username, .likes-container > p {
    font-weight: bold;
    margin-right: 3px;
    text-align: left;    
}

.icons-container {
    max-width: 105px;
    text-align: left;
}

.icon {
    width: 23px;
}

.isLiked {
    border: 1px solid red;
}